

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body{
  width:100%;
  height: 100%;
  background-color: black ;
}

#container{
  width: auto;
  height: 100vw;
  background-color: black;
  display: block;
}

.nav1{
  width: 100%;
  height: auto;
  background-color: black;

}

.nav1 >ul >li{
color: white;
display:inline-block;
margin-left: 20px;
font-size: 20px;
padding: 2%;
border-left:solid white;
}

#logo_bild{
  width:5%;
  height: 5%;
  float: left;
  padding: 0.5%;
  margin-left: 3px;
  padding: 5px;
}



article{
  width: 100%;
  height: 100%;
}

.art1{
  height: 50%;
  width: 100%;
  background-image: url("../img/d.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 40% 70%;
  background-color: grey;
  back
}

.dator{
  height: 70%;
  width: 100%;
  background: url("../img/sprite.png");
  background-position: -271px -5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% 60%;
  background-color: grey;
  margin-top: 10px;

}

.mobile{
  height: 100%;
  width: 100%;
  background-image: url("../img/mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-color: grey;
  margin-top: 10px;
}

.tablet{
  height: 100%;
  width: 100%;
  background-image: url("../img/tablet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
}


footer{
  width:100%;
  height:auto;
  background-color: black;
  margin-top: 20px;

}

.om_oss{
  background-color: grey;
  margin-bottom: 15px;
  line-height: 1.5em;
  font-size: 25px;
  display: block;
  width:100%;
  height: auto;
  text-align: center;
}


.om_oss_logo{
  background: url("../img/sprite.png");
  width: 235px;
  height: 234px;
  background-position: -5px -527px;
  margin: 5px;
}
#om_oss_text{
  padding: 5px;
  left: 2px;
  color: white;
  display: inline;
}

#om_oss_text >  h2 {
  text-decoration: bold;
  margin-left: 5px;
  text-align: left;
}

.om_oss_wrapper{
  display:inline-block;
  width: 100%;
  height: auto;

}


form {
	visibility: visible;
  width: auto;
  height: auto;
  background: #f1f1f1;
  padding: 2%;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
}

form input, textarea {
  border-radius: 2px;
  width: 90%;
	display: block;
  font-size: 16px;
  font-weight: 300;
  margin-left: 5%;
  margin-top: 10px;
  border: 1px solid #eceff1;
  padding: 15px;
  z-index: 1;
  position: relative;
box-sizing: border-box;
background: #fff;
border: 1px solid #d9d9d9;
border-top: 1px solid #c0c0c0;
}

[type="submit"] {
  border: 1px solid #2f5bb7;
color: #fff;
 padding: 10px;
text-shadow: 0 1px rgba(0,0,0,0.3);
background-color: #357ae8;
  margin-top: 12px;
  font-weight: 500;
}
.button-blue{
	margin-bottom: 20px;
}

form >h3 {
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5px;
}

@media screen and (max-width: 900px) {

  #logo_bild{
    display: none;
  }
  .nav1 > ul > li  {
    display: block;
    text-align: center;
    border-bottom:1px solid white;
    border-left-style:none;
  }



    article{
      height: 100%;
      width: 100%;
      background-size: 90% 100%;


    }
    form {
      left: 3%;
      width: 88%;
      margin-left: 3%;
      padding-left: 3%;
      padding-right: 3%;
      font-size: 30px;
    }

    .om_oss_logo{
      display: none;
    }

  }
